<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Camp Hope</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css">
    <!-- Custom Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}" type="text/css">
    <!-- Plugin CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}" type="text/css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/creative.css') }}" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="page-top">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Camp Hope</a>
            </div>
            {% with messages = get_flashed_messages() %} {% if messages %}
            <div class="navbar-header" style="padding: 14px 50px 14px 50px; color: darkgreen; background-color: white; font-size: 16px;">{{messages[0]}}</div>
            {% endif %} {% endwith %}
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#sponsor">Sponsor a Camper</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#forms">Forms</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#sponsors">Sponsors</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <h2><strong>Christian</strong> leadership daycamp for urban youth to discover their great <strong>potential</strong> and find their identity in the unshakeable <strong>truth</strong> of God's love.</h2>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-4 text-center">
                        <h3 style="text-decoration: underline">When</h3>
                        <p>
                            June 15 - July 3
                            <br> July 13 - August 7
                            <br> 9 a.m. - 3 p.m.
                        </p>
                    </div>
                    <div class="col-lg-4">
                        <img src="{{ url_for('static', filename='img/logo med.png') }}" alt="Logo">
                    </div>
                    <div class="col-lg-4 text-center">
                        <h3 style="text-decoration: underline">Where</h3>
                        <p>
                            Fairforest Church of God
                            <br> 2662 Fairforest Clevedale Rd.
                            <br> Spartanburg, SC 29301
                        </p>
                    </div>
                </div>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </header>
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">The Camp Hope Experience</h2>
                    <hr>
                    <p>Bible Study • Worship • Sports • Academic Enrichment • The Arts</p>
                    <div class="video-container">
                        <iframe src="https://www.youtube.com/embed/DM46JXGgy3E" frameborder="0" width="560" height="315" allowfullscreen></iframe>
                    </div>
                    <br>
                    <div class="video-container">
                        <iframe src="https://www.youtube.com/embed/2N5K9KPJETI" frameborder="0" width="560" height="315" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-primary" id="sponsor">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Sponsor a Camper</h2>
                    <hr class="light">
                    <p class="text-faded">Sponsoring a camper provides the opportunity to forever change and enrich a young life - a young life that would otherwise experience the loneliness and hunger that the summer months often bring.</p>
                    <p class="text-faded">Sponsorship of $300 provides one camper 7 weeks of Bible study, food, transportation, and all camp activities in a safe environment.</p>
                    <!-- <a href="#" class="btn btn-default btn-xl" disabled>Donate via PayPal</a>
                    <br>(Coming soon) -->
                    <p class="text-faded">
                        <br>To sponsor a camper, please get in touch with us or mail a check to:
                        <br>
                    </p>
                    <p>
                        Camp Hope
                        <br> P.O. Box 170151
                        <br> Spartanburg, SC 29301
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section id="sponsors">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Sponsors</h2>
                    <hr>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-primary" id="forms">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Forms</h2>
                    <hr class="light">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <a href="{{ url_for('static', filename='forms/Camp Hope Camper Registration.pdf') }}">
                    <div class="col-lg-4 col-md-6 text-center">
                        <div class="service-box text-light">
                            <a class="text-light" href="{{ url_for('static', filename='forms/Camp Hope Camper Registration.pdf') }}">
                                <i class="fa fa-4x fa-child wow bounceIn"></i>
                                <h3>Camper Application</h3>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 text-center">
                        <div class="service-box text-light">
                            <a class="text-light" href="{{ url_for('static', filename='forms/Camp Hope Summer Missionary Application.pdf') }}">
                                <i class="fa fa-4x fa-heart wow bounceIn" data-wow-delay=".1s"></i>
                                <h3>Summer Missionary Application</h3>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 text-center">
                        <div class="service-box text-light">
                            <a class="text-light" href="{{ url_for('static', filename='forms/Camp Hope Volunteer Application.pdf') }}">
                                <i class="fa fa-4x fa-users wow bounceIn" data-wow-delay=".2s"></i>
                                <h3>Volunteer Application</h3>
                            </a>
                        </div>
                    </div>
            </div>
        </div>
    </section>
    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter">
                {% for i in range(1, 7) %}
                <div class="col-lg-4 col-sm-6">
                    <img src="{{ url_for('static', filename='img/portfolio/%d.jpg' % i) }}" class="img-responsive" alt="">
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form action="/" method="post" name="sentMessage" id="contactForm">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">Name *</label>
                                    <input type="text" class="form-control" placeholder="Name" id="name" name="name" required>
                                </div>
                                <div class="form-group">
                                    <label for="email">Email Address *</label>
                                    <input type="email" class="form-control" placeholder="you@email.com" id="email" name="email" required>
                                </div>
                                <div class="form-group">
                                    <label for="phone">Phone Number</label>
                                    <input type="tel" class="form-control" placeholder="(123) 555-1234" id="phone" name="phone">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="message">Message *</label>
                                    <textarea class="form-control" rows=8 id="message" name="message" required></textarea>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-primary btn-xl">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-dark">
        <div class="container">
            <div class="row">
                <a href="tel:8646128433">
                    <div class="col-lg-4 text-center">
                        <i class="fa fa-phone fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                        <p>(864) 612-8433</p>
                    </div>
                </a>
                <a href="mailto:camphopespartanburg@gmail.com">
                    <div class="col-lg-4 text-center">
                        <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".2s"></i>
                        <p>camphopespartanburg@gmail.com</p>
                    </div>
                </a>
                <a href="https://www.facebook.com/camphopespartanburg">
                    <div class="col-lg-4 text-center">
                        <i class="fa fa-facebook fa-3x wow bounceIn" data-wow-delay=".3s"></i>
                        <p>Follow us on Facebook</p>
                    </div>
                </a>
            </div>
        </div>
    </section>
    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <!-- Plugin JavaScript -->
    <script src="{{ url_for('static', filename='js/jquery.easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.fittext.js') }}"></script>
    <script src="{{ url_for('static', filename='js/wow.min.js') }}"></script>
    <!-- Custom Theme JavaScript -->
    <script src="{{ url_for('static', filename='js/creative.js') }}"></script>
</body>

</html>
